fastapi
uvicorn==0.23.2
sqlalchemy==1.4.27
psycopg2-binary
requests
pydantic
pytest
sphinx
sphinx-autobuild
sphinxcontrib-napoleon
passlib==1.7.4
bcrypt==3.2.0
python-multipart==0.0.5
email-validator==2.1.1
python-dotenv
python-jose
pydantic-settings